<form [formGroup]="form" (ngSubmit)="submit" #ngform="ngForm">
    <div class="chngpass__group-fields">
        <label for="chngpass__newPassword">Новый пароль</label>
        <div>
            <input type="password" id="chngpass__newPassword" formControlName="newPassword">
            <p *ngIf="(newPassword.touched || ngform.submitted) && newPassword.hasError('required')">* Введите новый
                пароль</p>
        </div>
        <label for="chngpass__newPasswordRepeat">Повтор пароля</label>
        <div>
            <input type="password" id="chngpass__newPasswordRepeat" formControlName="newPasswordRepeat">
            <p *ngIf="(newPasswordRepeat.touched || ngform.submitted) && newPasswordRepeat.hasError('required')">*
                Повторите пароль</p>
            <p *ngIf="(newPasswordRepeat.touched || ngform.submitted) && newPasswordRepeat.hasError('equalTo')">* Пароли
                не совпадают</p>
        </div>
        <span>Контрольный вопрос</span>
        <span id="chngpass__question" class="form-field">Почтовый индекс ваших родителей</span>
        <label for="chngpass__answer">Ответ</label>
        <div>
            <input type="text" id="chngpass__answer" formControlName="answer">
            <p *ngIf="(answer.touched || ngform.submitted) && answer.hasError('required')">* Введите ответ на
                контрольный вопрос</p>
        </div>
    </div>
    <div class="spacing_size_l"></div>
    <div class="chngpass__group-submit">
        <input type="submit" value="Изменить пароль">
    </div>
    <div class="spacing_size_m"></div>
</form>