<form>
    <div class="chngpass__group-fields">
        <label for="chngpass__newPassword">Новый пароль</label>
        <input type="password" id="chngpass__newPassword">
        <label for="chngpass__newPasswordRepeat">Повтор пароля</label>
        <input type="password" id="chngpass__newPasswordRepeat">
        <label for="chngpass__question">Контрольный вопрос</label>
        <span id="chngpass__question" class="form-field">Почтовый индекс ваших родителей</span>
        <label for="chngpass__answer">Ответ</label>
        <input type="text" id="chngpass__answer">
    </div>
    <div class="spacing_size_l"></div>
    <div class="chngpass__group-submit">
        <input type="submit" value="Изменить пароль">
    </div>
    <div class="spacing_size_m"></div>
</form>