div.container {
  --container-border-radius: 6px;
  background: var(--color-white-1);
  border-radius: var(--container-border-radius);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

div.container .container__title {
  background: var(--color-main);
  border-radius: var(--container-border-radius) var(--container-border-radius) 0 0;
  padding: 0.9rem 1.5rem;
}

div.container .container__title>* {
  color: var(--color-white-1);
  font-weight: 400;
  display: inline;
}

div.container .container__content {
  padding: 0.75rem 1.5rem;
}

:host.type_post .container__title>* {
  cursor: pointer;
  transition: 0.05s;
}

:host.type_post .container__title>*:hover {
  font-weight: 500;
}