.page-layout {
    display: flex;
    gap: 7%;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.page-layout article {
    width: 60%;
}

.page-layout aside {
    width: 33%;
}

.page-layout [slot=article] {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page-layout [slot=aside] {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}