<header class="header">
    <div class="header__bg"></div>
    <div class="header__top">
        <div class="header__logo">
            <img src="assets/img/company-logo.png" alt="BigGameCompany Logo" height="43">
            <span>BigGameCompany</span>
        </div>
        <div class="header__nav">
            <nav>
                <ul>
                    <li><a routerLink="/" [ngClass]="{'current': this.router.url == '/'}">Главная</a></li>
                    <li><a routerLink="/news" [ngClass]="{'current': this.router.url == '/news'}">Новости</a></li>
                    <li><a routerLink="/downloads" [ngClass]="{'current': this.router.url == '/downloads'}">Скачать</a>
                    </li>
                    <li><a routerLink="/lk" [ngClass]="{'current': this.router.url == '/lk'}">Личный кабинет</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header__tip">
        <span>5 лет с Вами!</span>
    </div>
</header>