<header class="header">
    <div class="header__bg"></div>
    <div class="header__top">
        <div class="header__logo">
            <img src="assets/img/company-logo.png" alt="BigGameCompany Logo" height="43">
            <span>BigGameCompany</span>
        </div>
        <div class="header__nav">
            <nav>
                <ul>
                    <li><a routerLink="/" [ngClass]="{'current': this.router.url === '/'}">Главная</a></li>
                    <li><a routerLink="/news" routerLinkActive="current">Новости</a></li>
                    <li><a routerLink="/downloads" routerLinkActive="current">Скачать</a></li>
                    <li><a routerLink="/lk" routerLinkActive="current">Личный кабинет</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header__tip">
        <span>5 лет с Вами!</span>
    </div>
</header>