<app-loading *ngIf="!isLoaded"></app-loading>
<app-page-layout *ngIf="isLoaded && postService.lastPost! as postData">
    <div slot="article" *ngIf="postData.id! == postId">
        <app-container header="{{ postData.title }}" class="post">
            <div class="post__metadata">
                <div class="flexgroup">
                    <div class="metadata__author img-text">
                        <!-- <img src="/assets/img/user.png" width="16"> -->
                        <img [src]="postData.user.ava" width="16">
                        <span>{{ postData.user.name }}</span>
                    </div>
                    <div class="metadata__separator"></div>
                    <div class="metadata__views img-text">
                        <img src="/assets/img/eye.png" width="16">
                        <span>{{ postData.views }}</span>
                    </div>
                </div>
                <div class="metadata__date">
                    <time [dateTime]="postData.timestamp | date:'YYYY-MM-dd hh:mm'">
                        {{ postData.timestamp | relativeDate}}
                    </time>
                </div>
            </div>
            <div class="post__tools" *ngIf="postData.userId === currentUser.id || currentUser.isAdmin">
                <div class="img-text">
                    <img src="/assets/img/pen.png" width="16">
                    <span>Изменить</span>
                </div>
                <div class="img-text">
                    <img src="/assets/img/archive.png" width="16">
                    <span>Удалить</span>
                </div>
            </div>
            <div class="post__content">
                {{ postData.body }}
            </div>
        </app-container>
        <app-container header="Комментарии">
            <div *ngFor="let comment of postData.comments">
                <post-comment-thread 
                    *ngIf="!comment.replyTo"
                    [dataComment]="comment" 
                    [dataCurrentUser]="currentUser"
                ></post-comment-thread>
            </div>
            <div *ngIf="postData.comments.length === 0" class="post__no-comments">
                <p>Будь первым – оставь комментарий!</p>
            </div>
        </app-container>
        <app-container *ngIf="currentUser.id !== -1">
            <post-add-comment [dataCurrentUser]="currentUser" [dataPostId]="postData.id">
            </post-add-comment>
        </app-container>
    </div>
    <div slot="aside">
        <app-monitoring></app-monitoring>
    </div>
</app-page-layout>