<app-page-layout>
    <div slot="article">
        <app-container *ngFor="let post of posts" [header]="post.title" class="type_post"
            (headerClick)="toPost(post.id!)">
            {{ post.bodyPreview }}
        </app-container>
    </div>
    <div slot="aside">
        <app-container header="Фильтр" class="news__filter">
            <input type="text" name="filter-search" id="filter-search" [(ngModel)]="newsFilter" placeholder="Поиск...">
            <button (click)="clearFilter()">Очистить</button>
        </app-container>
        <app-monitoring></app-monitoring>
    </div>
</app-page-layout>