<form action="">
    <div class="signup__group-fields">
        <label for="singup__username">Имя пользователя</label>
        <input type="text" id="singup__username" placeholder="Имя пользователя">
        <label for="singup__password">Пароль</label>
        <input type="password" id="singup__password" placeholder="Пароль">
        <label for="singup__password-repeat">Повтор пароля</label>
        <input type="password" id="singup__password-repeat" placeholder="Повтор пароля">
        <label for="signup__email">Email адрес</label>
        <input type="email" id="signup__email" placeholder="Email адрес">
    </div>
    <div class="spacing_size_m"></div>
    <div class="signup__group-checkboxes">
        <div>
            <input type="checkbox" id="signup__agree-rules">
            <label for="signup__agree-rules">Я прочитал и согласен с Условиями Проекта</label>
        </div>
        <div>
            <input type="checkbox" id="signup__captcha">
            <label for="signup__captcha">Я человек</label>
        </div>
    </div>
    <div class="spacing_size_l"></div>
    <div class="signup__group-submit">
        <input type="submit" value="Регистрация">
    </div>
    <div class="spacing_size_m"></div>
</form>