.signin__fields div {
    position: relative;
    padding-top: 0.25rem;
}


.signin__fields div label {
    position: absolute;
    font-size: 0.8em;
    background: white;
    width: auto;
    left: 0.75rem;
    top: -0.25rem;
    color: var(--color-white-5);
    padding: 0 0.1rem;
    font-weight: 300;
}

.signin__fields .invalid input {
    border-color: var(--color-red-1);
    color: var(--color-red-1);
}

.signin__fields .invalid label {
    color: var(--color-red-1);
}

.signin__fields div input {
    display: block;
    width: 100%;
}

.signin__fields .errors {
    font-size: 0.8em;
    color: var(--color-red-1);
}

.signin__fields>*:not(:last-child) {
    margin-bottom: 1rem;
}

.signin__buttons>* {
    display: block;
    width: 100%;
}

.signin__buttons>*:not(:last-child) {
    margin-bottom: 0.5rem;
}

.signin__buttons input {
    color: white;
    cursor: pointer;
    padding: 0.8rem 0.75rem;
    background: var(--color-secondary-b);
}

.signin__buttons input:hover {
    background: var(--color-secondary-b-hover);
}

.signin__buttons a {
    color: white;
    cursor: pointer;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.15px;
    padding: 0.8rem 0.75rem;
    background: var(--color-secondary-a);
    border-radius: var(--elements-border-radius);
}

.signin__buttons a:hover {
    background: var(--color-secondary-a-hover);
}

.signin__msg {
    color: var(--color-additional);
    font-size: 0.9em;
    font-weight: 500;
}

.userinfo div:first-child {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.userinfo div:first-child img {
    width: 48px;
    border-radius: 8px;
}

.userinfo button {
    width: 100%;
    font-size: 0.8em;
    background: var(--color-secondary-b);
    color: var(--color-white-1);
}