<div *ngIf="!isLoaded">
    Loading...
</div>
<div *ngIf="isLoaded && dataComment.isDeleted && dataComment.isRoot && dataHasReplies">
    <header class="comment__author">
        <span class="author__ava-placeholder"></span>
        <span class="author__name">&lt;......&gt;</span>
    </header>
    <div class="comment__body">
        <span class="body__deleted">Комментарий удалён</span>
    </div>
    <div class="spacing_size_m"></div>
</div>
<div *ngIf="isLoaded && !dataComment.isDeleted">
    <header class="comment__author">
        <img [src]="user!.ava" alt="Изображение профиля">
        <span class="author__name">{{ user!.name }}</span>
        <span class="author__time">{{ dataComment.timestamp | relativeDate }}</span>
        <span class="author__time author__updateTime" *ngIf="dataComment.updateTimestamp"
        >изменено {{ dataComment.updateTimestamp | relativeDate }}
        </span>
    </header>
    <div class="comment__body" *ngIf="!isEditing">
        {{ dataComment.body }}
    </div>
    <div class="comment__body" *ngIf="isEditing">
        <textarea 
            name="comment_body" 
            id="comment_body" 
            class="form-field" 
            [(ngModel)]="editFields.body"
            rows="5"
        >
        </textarea>
    </div>
    <footer class="comment__actions" *ngIf="dataCurrentUser?.id !== -1">
        <div>
            <button *ngIf="!dataComment.replyTo && !isEditing" (click)="toggleAnswer()">Ответить</button>
        </div>
        <div class="actions__edit">
            <span *ngIf="dataCurrentUser?.id === dataComment.userId || dataCurrentUser?.isAdmin">
                <button *ngIf="!isEditing" (click)="onDelete()">
                    Удалить
                </button>
            </span>
            <span *ngIf="dataCurrentUser?.id === dataComment.userId">
                <button *ngIf="!isEditing" (click)="edit()">
                    Изменить
                </button>
                <button *ngIf="isEditing" (click)="stopEdit()">
                    Сохранить
                </button>
                <button *ngIf="isEditing" (click)="cancelEdit()">
                    Отмена
                </button>
            </span>
        </div>
    </footer>
</div>