:root {
  --elements-border-radius: 4px;
}

input,
select,
.form-field {
  padding: 0.9rem 0.75rem;
  background: var(--color-white-2);
  background-clip: padding-box;
  border: 0;
  border: solid 1px var(--color-white-3);
  border-radius: var(--elements-border-radius);
  letter-spacing: 0.15px;
}

input:focus-visible,
select:focus-visible,
.form-field:focus-visible {
  outline: var(--color-white-3) auto 1px;
}


button {
  padding: 0.9rem 0.75rem;
  border: 0;
  cursor: pointer;
  border-radius: var(--elements-border-radius);
}

.button {
  color: var(--color-white-1);
  cursor: pointer;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.15px;
  padding: 0.8rem 0.75rem;
  background: var(--color-secondary-b);
  border-radius: var(--elements-border-radius);
  width: 48%;
  transition: background 0.2s;
}

.button:hover {
  background: var(--color-secondary-b-hover);
}

/* --- */
.spacing_size_sm {
  margin-top: 0.6rem;
}

.spacing_size_m {
  margin-top: 1.5rem;
}

.spacing_size_l {
  margin-top: 2.5rem;
}