/* You can add global styles to this file, and also import other style files */
@import 'assets/colors.css';
@import 'assets/fonts.css';
@import 'assets/elements.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  word-break: break-word;
  hyphens: auto;
}

body {
  background: var(--color-background);
}

app-root {
  display: flex;
  min-height: 100svh;
  flex-direction: column;
}

main {
  flex: 1;
  max-width: 1104px;
  width: 69rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1100px) {
  main {
    width: 56rem;
  }
}