<app-container>
    <h2>Скачайте наш лаунчер</h2>
    <div class="spacing_size_m"></div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente doloremque nam debitis in magnam, facere minus
        consequuntur inventore quo nesciunt delectus accusamus quia mollitia beatae, quasi ut nemo molestias quas.</p>
    <div class="spacing_size_m"></div>
    <div style="text-align: center;">
        <a href="https://google.com/download?platform=windows" target="_blank">Скачать для Windows</a>
    </div>
    <div class="spacing_size_sm"></div>
    <div style="text-align: center;">
        <a href="https://google.com/download?platform=linux" target="_blank">Скачать для Linux</a>
    </div>
</app-container>